<!DOCTYPE html>
<html>
<head>
    <title>Звездный рынок</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Звездный рынок</h1>
    <button onclick="window.location.href='/buy'">⭐ Купить звезды</button>
    <button onclick="window.location.href='/support'">📞 Поддержка</button>
    <button onclick="window.location.href='/test'">📞 test</button>
    <script>
        window.Telegram.WebApp.ready();
    </script>
</body>
</html>